<!-- begin footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="footer-widget">
          <h2 class="brand widget-title">KarateApp</h2>
          <p class="footer-tag-line">T-Kane's Martial Arts</p>
        </div>
        <!-- .footer-company-info -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Information</h3>
          <div class="clearfix">
            <ul>
              <li class="clearfix">
                <p class="pull-left">20809 Nunes Ave
                  <br />Castro Valley, CA 94546</p></li>
              <li class="clearfix">
                <p class="pull-left">(510) 582-6233</p></li>
            </ul>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Company</h3>
          <ul>
            <li>
              <%= link_to "Home", root_path %></li>
            
          </ul>
        </div>
        <!-- .footer-widget -->
      </div>
      
    </div>
  </div>
</footer>
 
<!-- end footer -->