<!-- begin header -->
<header>
  
  <div id="logo-container">
    <div class="container">
      <div class="row">
        <div class="span8">
          <span class="logo-text">
            <%= link_to "KarateApp", root_path, class: "brand" %>
          </span>
          <span class="tag-line hidden-phone">T-Kane's Martial Arts</span>
        </div>
        <div class="span4">
          
        </div>
      </div>
    </div>
  </div>
  <!-- #logo-container -->
</header>  
<!-- end header -->